<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF8">
		<title>FIFA</title>
	</head>
	<body>
		<h1 align = 'center'>WELCOME {{ name }} TO THE WORLD OF FOOTBALL</h1>
		<br/>
		<br/>
			<img src = "/static/homepage3.jpg" alt = "homepage" width = "700px" height = "394px"/>
		<br/>
		<br/>
			<img src = "/static/2.jpg" alt = "homepage" width = "700px" height = "394px"/>
		<br/>
		<br/>
		<img src = "/static/3.jpg" alt = "homepage" width = "700px" height = "394px"/>
		<br/>
		<br/>
		<img src = "/static/4.jpg" alt = "homepage" width = "700px" height = "394px"/>
		<br/>
		<br/>
		<img src = "/static/5.jpg" alt = "homepage" width = "700px" height = "394px"/>
		<br/>
		<br/>

		<h2><a href = "/queries"> QUERIES </a></h2>
		<h3><a href = "/logout"> Log out </a></h3>
	</body>
</html>
