<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF8">
		<title>{{ name }}</title>
        <style>
            h3{
                display:inline;
                white-space: nowrap;
            }
        </style>
	</head>
	<body>
        <h1 align = "center">{{ name }} </h1>
        <br/>
        <br/>
        <h3>Age :</h3> <pre>               {{ age }} </pre><br/>
        <h3>Country :</h3> <pre>                {{ country }} </pre> <br/>
        <h3>Contact :</h3> <pre>               {{ contact }} </pre> <br/>
        <h3>E-mail :</h3> <pre>                {{ email }} </pre> <br/>
        <h3>Income (in Million Euros):</h3> <pre>              {{ income }} </pre> <br/>

		<br/>
		<a href = "/queries/"> QUERIES </a> 
	</body>
</html>
